/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    /* Default font-size */
    font-size: 1.6rem;

    /* sticky footer - match footer height */
    margin-bottom: 60px;
}

section#main {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-top: 10px;
}

#logo {
    /* Actual width is 632; displaying at half-size for retina screens */
    width: 316px;
}

footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-bottom: 20px;
    color: #4CAF50;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:link {
    text-decoration: none;
    color: #4CAF50;
}

/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
    background-color: black;
    text-align: left;
}

nav li:hover ul {
    display: block;
    color: white;
}

nav li ul li {
    display: block;
    color: white;
}

nav li ul li a {
    color: white;
}

/*----------------------------------------------------
Typography
-----------------------------------------------------*/

a.active:link, a.active:visited, a.active:active, a.active:hover {
    color: #18bc9c;
}

h1 {
    text-align: center;
    font-size: 3.0rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.0rem;
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label, legend {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: .75px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 3px;
    font-family: Consolas, Courier, monospace;
}

input[type='checkbox'], input[type='radio'] {
    display: inline;
}

input[type='checkbox'] + label {
    display: inline;
    font-weight: normal;
}

ul.checkboxes {
    list-style-type: none;
    padding: 0;
}

ul.checkboxes label {
    font-weight: normal;
    margin: 0;
}

.btn {
    margin-top: 20px;
    font-size: 1.5rem;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}

.alert {
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

ul.alert {
    list-style-type: none;
}

.success {
    color: #3c763d; /* greenish */
}

.details {
    font-size: 1.1rem;
    font-style: italic;
}

/*----------------------------------------------------
Misc
-----------------------------------------------------*/
/* Clear Fix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px 10px 5px 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.btn-primary {
    background-color: #4CAF50;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: #4CAF50;
}

.fa-trash-alt, .fa-pencil-alt {
    color: #4CAF50;
}

.editColumn {
    text-align: center;
}

.numberColumn {
    text-align: right;
}

td {
    text-align: left;
}

th {
    text-align: center;
}

th {
    height: 50px;
}

tr:hover {
    background-color: #f5f5f5;
}

.container-style {
    border: 5px black solid;
    padding: 10px 0 10px 0;
}

.no-right-gutter {
    padding: 0 !important;
}

.output-title {
    padding: 20px 0 10px 0;
}

.output-row {
    font-size: 1.4em;
    padding: 5px 0 5px 0;
}

.table-row {
    padding: 20px 0 5px 0;
}

.table {
    width: 100%;
    font-size: 1.2em;
}

.table-caption {
    text-align: center;
}

.matched-activity-table-cell {
    font-weight: bold;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
